// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .splash{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 999;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #3999ED;
// }

// .spinner {
//     margin: 100px auto;
//     width: 40px;
//     height: 40px;
//     position: relative;
//   }
  
//   .cube1, .cube2 {
//     background-color: #333;
//     width: 15px;
//     height: 15px;
//     position: absolute;
//     top: 0;
//     left: 0;
    
//     -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
//     animation: sk-cubemove 1.8s infinite ease-in-out;
//   }
  
//   .cube2 {
//     -webkit-animation-delay: -0.9s;
//     animation-delay: -0.9s;
//   }
  
//   @-webkit-keyframes sk-cubemove {
//     25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
//     50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
//     75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
//     100% { -webkit-transform: rotate(-360deg) }
//   }
  
//   @keyframes sk-cubemove {
//     25% { 
//       transform: translateX(42px) rotate(-90deg) scale(0.5);
//       -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
//     } 50% { 
//       transform: translateX(42px) translateY(42px) rotate(-179deg);
//       -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
//     } 50.1% { 
//       transform: translateX(42px) translateY(42px) rotate(-180deg);
//       -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
//     } 75% { 
//       transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
//       -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
//     } 100% { 
//       transform: rotate(-360deg);
//       -webkit-transform: rotate(-360deg);
//     }
//   }


.home {
    background: linear-gradient(to top, #9cecfb, #65c7f7, #0052d4);
    color:white;
    margin-top:30px;
}
.setting1,.about1{
    background:linear-gradient(to top, #9cecfb, #65c7f7, #0052d4);
    color:white;
}

.toolbar-title{
    text-align: center;
}
.tabs-md .tab-button-icon{
    color:#ccc;
}
.temp{
    font-size:90px;
    text-align: center;
    font-weight: normal;
}
.location,.icon,.desc{
text-align:center;
}
.icon img{
    width:100px;
}
.location{
    font-size:40px;
}
.desc{
    font-size:30px;
}
.list-md {
    margin: 20px auto;
    min-width: 70vw;
    margin-top:0px;
}
h6,.dir1{
    overflow: auto;
}
.hvr:hover{
 cursor: pointer;
}

.label-md {

    overflow-x: scroll;
    text-overflow: unset;
}